.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  align-items: center;
  height: 100vh;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 600px;
  background-color: #cccccc;
  height: 300px;
}
