.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  align-items: center;
  height: 100vh;
}

.card {
  margin: 1rem;
  padding: 50px;
  text-align: center;
  text-decoration: none;
  border: "3px solid ";
  border-radius: 10px;
  width: 800px;
  height: 400px;
  border: 3px solid;
}
